{# templates/colis/creer.html.twig #}
<h1>Créer un Colis</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Créer</button>
{{ form_end(form) }}

{# Si le formulaire a été soumis mais n'est pas valide, afficher les erreurs #}
{% if form.vars.errors|length > 0 %}
    <div class="alert alert-danger">
        <ul>
            {% for error in form.vars.errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
