{# templates/ville/creer.html.twig #}
<h1>Créer une nouvelle ville</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Créer la ville</button>
{{ form_end(form) }}
